{% extends "base.html" %}

{% block content %}
  <h1>
    TODO list
    <a href="{% url 'to_do_list:task-create' %}" class="float-right btn btn-primary link-to-page">
      Add task
    </a>
  </h1>
  {% if task_list %}
    <div>
      {% for task in task_list %}
          <strong><a href="{% url "to_do_list:task-detail" pk=task.id %} ">{{ task.content }}</a></strong>

          {% if not task.is_done %}
            <span class="not-done">NOT DONE</span>
          {% else %}
            <span class="done">DONE</span>
          {% endif %}
            <form class="float-right" action="{% url 'to_do_list:task-update-state' pk=task.id %}" method="post">
              {% csrf_token %}
              {% if task.is_done %}
                <input
                      type="submit"
                      class="btn btn-secondary link-to-page"
                      value="Undo" />
              {% else %}
                <input
                      type="submit"
                      class="btn btn-success link-to-page"
                      value="Complete" />
              {% endif %}
            </form>
          <h6>Created at: {{ task.creation_date }}
          {% if task.deadline %}
            Deadline: {{ task.deadline }}
          {% endif %}
          </h6>
          <h6 class="text-muted">Tags: {% for tag in task.tags.all %} {{ tag }} {% endfor %}
          <a href="{% url 'to_do_list:task-update' pk=task.id %}">
            Update
          </a>
          <a href="{% url 'to_do_list:task-delete' pk=task.id %}">
            Delete
          </a>
          </h6>
        <hr>
      {% endfor %}
    </div>
  {% else %}
    <p>There are no tasks.</p>
  {% endif %}
{% endblock %}
